Repository prgrms-web-devcourse-final-project/WEB6_7_200OK_FE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.{json,css,md}": [
    "prettier --write"
  ]
}

chore(package): install dependencies for shadcn/ui setup - clsx(version: ^2.1.1, dependencies) - lucide-react(version: ^0.556.0, dependencies) - tw-animate-css(version: ^1.4.0, devDependencies)
  package.json
  pnpm-lock.yaml
Due: none

chore(styles): move global css from src/app to src/shared/styles
  app/globals.css
  app/layout.tsx
  src/shared/styles/globals.css
Due: prettier --write

chore(ui): init shadcn and generate utils.ts
  src/shared/lib/utils.ts
Due: prettier --write, eslint --fix

chore(ui): init shadcn and update components.json
  components.json
Due: none

chore(ui): move utils.ts shared/lib -> shared/lib/utils
  src/shared/lib/utils/.gitkeep
  src/shared/lib/utils/utils.ts
Due: prettier --write, eslint --fix

chore(ui): edit utils dir path shared/lib/utils/uils
  components.json
Due: none

fix(css): fix path alias @shared/styles/globals.css
  app/layout.tsx
Due: none

fix(dev): package.json 쉼표 제거
  package.json
Due: none

Revert "fix(dev): package.json 쉼표 제거"
  package.json
Due: none

fix(dev): package.json의 불필요한 쉼표 제거
  package.json
Due: none

docs(github): 이슈 이모지 변경 및 불필요한 단어 제거
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs(github): 이슈 템플릿 Optional 부분에 _N/A_ 기본값 추가
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/feature.md
Due: none

chore(git): gitignore에 .vscode 추가
  .gitignore
Due: none

chore(prettier): update prettier config to enforce semicolons
  src/shared/lib/utils/utils.ts
Due: prettier --write, eslint --fix

fix(structure): 폴더구조 변경
  app/api/.gitkeep
  app/favicon.ico
  app/home/page.tsx
  pages/README.md
  src/app/[home]/layout.tsx
  src/app/[home]/page.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/layout/index.ts
  src/screens/home/index.ts
  src/screens/home/ui/HomeLayout.tsx
  src/screens/home/ui/HomeScreen.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

fix(structor): entities 폴더 삭제
  src/entities/.gitkeep
Due: none

fix(structure): package 재설치
  pnpm-lock.yaml
  src/shared/styles/.gitkeep
Due: none

chore(theme): replace primary token with brand in theme configuration
  src/shared/styles/globals.css
Due: prettier --write

feat(toast): sonner 기반 toast 공통 컴포넌트 셋팅
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/shared/styles/globals.css
  src/shared/ui/Toast/ToastProvider.tsx
Due: prettier --write, eslint --fix

feat(Empty): Empty 컴포넌트 개발
  src/shared/ui/Empty/empty.tsx
  src/shared/ui/index.ts
Due: prettier --write, eslint --fix

feat(toast): useContext 등 훅들을 최대한 제거해서 가볍게 수정
  src/app/layout.tsx
  src/shared/ui/Toast.tsx
  src/shared/ui/Toast/ToastProvider.tsx
Due: prettier --write, eslint --fix

fix(Empty): 컴포넌트 색상 변경
  src/shared/ui/Empty/empty.tsx
Due: prettier --write, eslint --fix

fix(empty): 폴더 구조 변경
  src/shared/ui/.gitkeep
  src/shared/ui/empty.tsx
  src/shared/ui/index.ts
Due: prettier --write, eslint --fix
